.form-group{
    background: hsl(0deg 0% 100%) !important;
    box-shadow: 0 0 2em hsl(231deg 62% 94%) !important;
    padding: 1em !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 0.5em !important;
    border-radius: 20px !important;
    color: hsl(0deg 0% 30%) !important;
    margin-top: -3em !important;
    margin-bottom: -3em !important;
    width: 150vh !important;
    height: 60vh !important;
    margin-left: 30px !important;

    
}

.button {
  padding: 15px 25px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  border-radius: 20px !important;
}

.header {
    font-family: 'Times New Roman', serif !important;
    margin-bottom: 10vh !important;
    margin-top: 3vh !important;
    margin-left: 6.5vh !important;
}
#createAccountErrors{
  margin-top: 3vh !important;
}